.nav-wrapper{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: #950740;

    .left-wrapper{
        width: 50%;
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;

        form{
            display: flex;
        }

    }

    .right-wrapper{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}