.nav-wrapper{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background: #950740;

    @media only screen and (max-width: 820px){
        height: 150px;
    }
    @media only screen and (max-width: 460px){
        padding: .5rem 0;
        flex-direction: column;
        height: 190px;
        align-items: center;
        align-items: center;
    }

    .left-wrapper{
        width: 50%;
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;

        form{
            display: flex;

            @media only screen and (max-width: 820px){
                flex-direction: column;
                gap: .5rem;
                justify-content: center;
                align-items: center;

            }
        }

        @media only screen and (max-width: 1300px){
            width: fit-content;
            margin-left: 2rem;
        }
        @media only screen and (max-width: 460px){
            margin-left: 0;
        }


    }

    .right-wrapper{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 1300px){
            width: fit-content;
            margin-right: 2rem;
        }
        @media only screen and (max-width: 460px){
            margin-right: 0;
        }
    }
}