.common{
    font-size: 20px;
    font-size: 700;
    padding: 5px;
    height: 35px;
    text-align: center;
    width: 150px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    transition: .5s ease-in-out;
    &:hover{
        background:#950740;
    }
}
.primary{
    background: #C3073F;
    border-radius: 8px;
    border: none;
}

.secondary{
    background: #093847;
    border-radius: 8px;
    border: none;
    color: white;
    &:hover{
        background:#12627c;
    }
}