.form-template{

    min-width: 275px;
    background: #1A1A1D;
    margin: 0 10%;
    padding: 2rem;
    color: white;

    @media only screen and (max-width: 390px){
        padding: 1rem;
    }


    .buttons{
        display: flex;
        justify-content: space-around;  

        @media only screen and (max-width: 500px){
            gap: .7rem;
        }
    }

    .button-section{
        width: 75%;
        margin: auto;
        margin-top: 2rem;
        position: relative;
        padding-bottom: 2rem;

        .button-next{
            position: absolute;
            right: 0;
        }


    }

    .description-section{

        margin-top: 2rem;

        .textarea-section{
            display: flex;
            margin: auto;
            border-radius: .3rem;
            flex-direction: column;
            width: 75%;

            label{
                font-weight: 600;
                font-size: 18px;
            }

            textarea{
                height: 150px;
            }

            @media only screen and (max-width: 400px){
                width: 100%;
            }

        }

        .image-section{
            display: flex;
            margin: auto;
            width: 75%;
            margin-top: 2rem;
            flex-direction: column;
        }
        label{
            font-weight: 600;
            font-size: 18px;
        }
    }

    .date-inputs{

        width: 75%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        label{
            font-weight: 600;
            font-size: 18px;
        }
        .date-picker{
            display: flex;
            flex-direction: column;
            width: max-content;
            @media only screen and (max-width: 900px){
                margin: 1rem auto;
            }
    
        }

        @media only screen and (max-width: 900px){
            flex-direction: column;
        }

        @media only screen and (max-width: 500px){
            width: 100%;
        }


    }

    .not-online{
        display: flex;
        justify-content: space-between;
        margin: 2rem auto;
        width: 75%;
        @media only screen and (max-width: 500px){
            width: 100%;
        }

        .input-template{
            display: flex;
            flex-direction: column;
            width: 45%;


            label{
                font-weight: 600;
                font-size: 18px;
            }

            input{
                width: 100%;
                border-radius: .5rem;
                border: solid 2px rgb(182, 182, 182);
                padding: 4px;
            }

            @media only screen and (max-width: 900px){
                width: 75%;
                margin: 1rem auto;
            }

            @media only screen and (max-width: 500px){
                width: 100%;
            }

        }

        @media only screen and (max-width: 900px){
            flex-direction: column;
        }
    }

    .online{
        margin: 2rem 0;
        display: flex;
        justify-content: center;

        .input-template{
            display: flex;
            flex-direction: column;
            width: 50%;

            @media only screen and (max-width: 900px){
                min-width: 300px;
            }

            @media only screen and (max-width: 500px){
                min-width: 220px;
            }

            label{
                font-weight: 600;
                font-size: 18px;
            }

            input{
                width: 100%;
                border-radius: .5rem;
                border: solid 2px rgb(182, 182, 182);
                padding: 4px;
            }
        }
    }

    .data-section{
        margin-bottom: 2rem;
        .input-template{
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 75%;

            @media only screen and (max-width: 500px){
                width: 100%;
            }

            label{
                font-weight: 600;
                font-size: 18px;
            }
            input{
                border-radius: .5rem;
                border: solid 2px rgb(182, 182, 182);
                padding: 4px;
            }
        }

    }


}
