.form-template{

    background: #005e24;
    margin: 0 10%;
    padding: 2rem;

    .buttons{
        display: flex;
        justify-content: space-around;
    }

    .button-section{
        width: 75%;
        margin: auto;
        margin-top: 2rem;
        position: relative;
        padding-bottom: 2rem;

        .button-next{
            position: absolute;
            right: 0;
        }


    }

    .date-inputs{

        width: 75%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        label{
            font-weight: 600;
            font-size: 18px;
        }
        .date-picker{
            display: flex;
            flex-direction: column;
            width: max-content;
        }

    }

    .not-online{
        display: flex;
        justify-content: space-between;
        margin: 2rem auto;
        width: 75%;

        .input-template{
            display: flex;
            flex-direction: column;
            width: 45%;

            label{
                font-weight: 600;
                font-size: 18px;
            }

            input{
                width: 100%;
                border-radius: .5rem;
                border: solid 2px rgb(182, 182, 182);
                padding: 4px;
            }
        }
    }

    .online{
        margin: 2rem 0;
        display: flex;
        justify-content: center;

        .input-template{
            display: flex;
            flex-direction: column;
            width: 30%;

            label{
                font-weight: 600;
                font-size: 18px;
            }

            input{
                width: 100%;
                border-radius: .5rem;
                border: solid 2px rgb(182, 182, 182);
                padding: 4px;
            }
        }
    }

    .data-section{
        margin-bottom: 2rem;
        .input-template{
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 75%;

            label{
                font-weight: 600;
                font-size: 18px;
            }
            input{
                border-radius: .5rem;
                border: solid 2px rgb(182, 182, 182);
                padding: 4px;
            }
        }

    }


}
