*{
    background: '#EDEDED'
}
.firstSection{
    margin: 0 15%;
    .headLine{
        h1{
            margin: 0 5%;
        }
    }

    .inputs{
        margin: 2rem 10rem;
        .inputSection{
            display: flex;
            flex-direction: column;
            font-size: 18px;
            font-weight: 600;
            margin: 2rem 0;
            
            input{
                width: 100%;
                height: 30px;
                border-radius: .3rem;
                border: ridge rgb(190, 190, 190);
                outline: none;
            }
        }
    }
}

.secondSection{
    margin: 0 15%;
    .headLine{
        h1{
            margin: 0 5%;
        }
    }

    .buttons{
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;

    }

    .inputs{
        display: flex;
        margin: 2rem 15%;
        justify-content: space-between;
        .inputSection{
            display: flex;
            flex-direction: column;
            font-size: 18px;
            font-weight: 600;
            width: 48%;
            
            input{
                width: 100%;
                height: 30px;
                border-radius: .3rem;
                border: ridge rgb(190, 190, 190);
                outline: none;
            }
        }
    }
}

.thirdSection{
    margin: 0 15%;
    .headLine{
        h1{
            margin: 0 5%;
        }
    }

    .inputs{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 15rem;

        .inputSection{
            position: relative;
            .icons{
                position: absolute;
                top: 50%;
                left: 50%;
            }
            input{
                width: 60%;
                height: 30px;
                border-radius: .3rem;
                border: ridge rgb(190, 190, 190);
                outline: none;
            }
        }
    }
}
.submit{
    position: absolute;
    right: 15%;

}