.event-section{

    position: relative;
    .image-section{
        position: relative;

        .blured-img{
            height: 700px;
            width: 100%;
            filter: blur(5px);

        }

        .image-wrapper{
            position: absolute;
            width: 80%;
            height: 75%;
            border-top-right-radius: .5rem;
            border-top-left-radius: .5rem;
            overflow: hidden;
            left: 50%;
            transform: translate(-50%, -100%);

            img{
                object-fit: cover;
                z-index: 1;
                width: 100%;
                height: 100%;
            }
            .info-wrapper{
                position: absolute;
                bottom: 5%;
                left: 10%;
                color: white;
                backdrop-filter: blur(5px);

                .organization-name{
                    font-size: 2rem;
                }

                .event-name{
                    font-size: 2.7rem;
                }
            }
        }
    }

    .navigation-section{

        width: 100%;
        height: 4rem;
        background: #1A1A1D;
        display: flex;
        border-bottom: solid #242429;



        .section-wrapper{
            width: 80%;
            display: flex;
            margin: auto;

            @media only screen and (max-width: 1000px){
                width: 100%;
                justify-content: space-around;
            }

            .nav{
                color: white;
                padding: .5rem 3rem;
                transition: .3s ease-in-out;
                margin: 0 4rem;
                border-radius: .5rem;
                cursor: pointer;

                &:hover{
                    background: grey;
                    transform: scale(1.2);
                }

                @media only screen and (max-width: 1000px){
                    margin: auto;
                    padding: .5rem 2rem;
                }

                @media only screen and (max-width: 500px){
                    padding: .5rem 1rem;
                }


            }
        }

    }

    .content-section{
        position: relative;
        background: linear-gradient(to right,#950740, #1A1A1D, #1A1A1D, #1A1A1D, #1A1A1D, #1A1A1D, #1A1A1D, #1A1A1D, #1A1A1D, #950740);

        .join-section{
            position: sticky;
            top: 0;
            right: 0;
            background-color: transparent;
            width: 100%;
            height: 150px;
            z-index: 5;

            .btn-section{
                position: absolute;
                right: 0;
                height: 150px;
                width: 400px;
                background: #1A1A1D;
                display: flex;
                justify-content: center;
                align-items: center;
                border-left: solid #63042a;
                border-bottom: solid #63042a;
                border-bottom-left-radius: .5rem;
                @media only screen and (max-width: 500px){
                    width: 100%;
                    border: none;
                    border-bottom: solid #63042a;
                    border-bottom-left-radius: 0;
                    height: 100px;
                    padding-top: 3rem;
                }
            }
        }

        .description-section{
            width: 75%;
            color: white;
            margin: auto;
            padding: 0 1rem;
            padding-bottom: 2rem;
            padding-top: 4rem;
            border-radius: .7rem;
            transition: 1s ease-in-out;

            .description{
                width: 85%;
            }
        }

        .image-section-content{
            height: auto;
            width: 75%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media only screen and (max-width: 650px){
                width: 90%;
                height: auto;
            }

            .image-arrow-left{
                color: white;
                font-size: 50px;
                cursor: pointer;
                transition: .3s ease-in-out;
                &:hover{
                    transform: scale(1.1);
                    color: rgb(194, 194, 194);
                }
                @media only screen and (max-width: 650px){
                    font-size: 30px;
                }
            }

            .image-wrapper{
                width: 1100px;
                height: 500px;
                overflow: hidden; /* Hides images that exceed the div's boundaries */
                position: relative; /* To position child images */

                @media only screen and (max-width: 610px){
                    height: 300px;
                }

                img{
                    max-width: 100%; /* Ensures images scale proportionally */
                    max-height: 100%; /* Ensures images scale proportionally */
                    position: absolute; /* Allows precise positioning within the div */
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%); /* Center the images */
                    border-radius: .4rem;
                }
                
            }
            
            .image-arrow-right{
                color: white;
                font-size: 50px;
                cursor: pointer;
                transition: .3s ease-in-out;
                &:hover{
                    transform: scale(1.1);
                    color: rgb(194, 194, 194);
                }

                @media only screen and (max-width: 650px){
                    font-size: 30px;
                }
            }
        }

        .date-section{
            width: 75%;
            margin: auto;
            margin-top: 5rem;
            transition: 2s ease-in-out;

            h2{
                color: white;
            }

            .data-wrapper{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: 3rem;
                @media only screen and (max-width: 830px){
                    flex-direction: column;
                }

                .date-wrapper{
                    width: 300px;
                    height: 180px;
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    @media only screen and (max-width: 830px){
                        margin: auto;
                        margin-bottom: 1rem;
                    }

                    @media only screen and (max-width: 460px){
                        width: 95%;
                    }
                    
                    img{
                        width: 100%;
                        filter: blur(2px);
                        border-radius: .3rem;
                        position: absolute;
                        top: 0;
                        z-index: 1;
                        height: 100%;
                        border-radius: .7rem;
                        

                    }
                    .data{
                        color: white;
                        font-size: 40px;
                        cursor: default;
                        font-weight: 700;
                        z-index: 2;
                        align-self: center;
                        margin: auto;
                    }
                }
                .clock-wrapper{
                    width: 300px;
                    height: 180px;
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    @media only screen and (max-width: 830px){
                        margin: auto;
                    }
                    @media only screen and (max-width: 460px){
                        width: 95%;
                    }
                    img{
                        width: 100%;
                        filter: blur(2px);
                        border-radius: .3rem;
                        position: absolute;
                        top: 0;
                        z-index: 1;
                        height: 100%;
                        border-radius: .7rem;

                    }
                    .data{
                        color: white;
                        font-size: 40px;
                        cursor: default;
                        font-weight: 700;
                        z-index: 2;
                        align-self: center;
                        margin: auto;
                    }
                }
            }
        }

        .localization-section{
            width: 75%;
            margin: auto;
            color: white;
            margin-top: 4rem;
            transition: 2s ease-in-out;

            .not-online-wrapper{
                width: 90%;
                margin: auto;

                .info{
                    display: flex;
                    align-items: center;
                    gap: .6rem;
                }
            }
        }

        .tags-section{
            width: 75%;
            margin: auto;
            color: white;
            margin-top: 4rem;
            padding-bottom: 4rem;

            .tags-wrapper{
                display: flex;
                gap: 1rem;
                margin-top: 1rem;
                width: 90%;
                margin: auto;
                flex-wrap: wrap;
                
            }
        }
        .creator-panel{
            width: 50%;
            margin: auto;
            color: white;
            display: flex;
            background: #242429;
            padding: 2rem;
            justify-content: center;
            align-items: center;
            border-radius: .3rem;
            gap: 4rem;
        }
    }
}