.event-section {
  position: relative;
}
.event-section .image-section {
  position: relative;
}
.event-section .image-section .blured-img {
  height: 700px;
  width: 100%;
  filter: blur(5px);
}
.event-section .image-section .image-wrapper {
  position: absolute;
  width: 80%;
  height: 75%;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, -100%);
}
.event-section .image-section .image-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.event-section .image-section .image-wrapper .info-wrapper {
  position: absolute;
  bottom: 5%;
  left: 10%;
  color: white;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.event-section .image-section .image-wrapper .info-wrapper .organization-name {
  font-size: 2rem;
}
.event-section .image-section .image-wrapper .info-wrapper .event-name {
  font-size: 2.7rem;
}
.event-section .navigation-section {
  width: 100%;
  height: 4rem;
  background: #1A1A1D;
  display: flex;
  border-bottom: solid #242429;
}
.event-section .navigation-section .section-wrapper {
  width: 80%;
  display: flex;
  margin: auto;
}
@media only screen and (max-width: 1000px) {
  .event-section .navigation-section .section-wrapper {
    width: 100%;
    justify-content: space-around;
  }
}
.event-section .navigation-section .section-wrapper .nav {
  color: white;
  padding: 0.5rem 3rem;
  transition: 0.3s ease-in-out;
  margin: 0 4rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.event-section .navigation-section .section-wrapper .nav:hover {
  background: grey;
  transform: scale(1.2);
}
@media only screen and (max-width: 1000px) {
  .event-section .navigation-section .section-wrapper .nav {
    margin: auto;
    padding: 0.5rem 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .event-section .navigation-section .section-wrapper .nav {
    padding: 0.5rem 1rem;
  }
}
.event-section .content-section {
  position: relative;
  background: linear-gradient(to right, #950740, #1A1A1D, #1A1A1D, #1A1A1D, #1A1A1D, #1A1A1D, #1A1A1D, #1A1A1D, #1A1A1D, #950740);
}
.event-section .content-section .join-section {
  position: sticky;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 100%;
  height: 150px;
  z-index: 5;
}
.event-section .content-section .join-section .btn-section {
  position: absolute;
  right: 0;
  height: 150px;
  width: 400px;
  background: #1A1A1D;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: solid #63042a;
  border-bottom: solid #63042a;
  border-bottom-left-radius: 0.5rem;
}
@media only screen and (max-width: 500px) {
  .event-section .content-section .join-section .btn-section {
    width: 100%;
    border: none;
    border-bottom: solid #63042a;
    border-bottom-left-radius: 0;
    height: 100px;
    padding-top: 3rem;
  }
}
.event-section .content-section .description-section {
  width: 75%;
  color: white;
  margin: auto;
  padding: 0 1rem;
  padding-bottom: 2rem;
  padding-top: 4rem;
  border-radius: 0.7rem;
  transition: 1s ease-in-out;
}
.event-section .content-section .description-section .description {
  width: 85%;
}
.event-section .content-section .image-section-content {
  height: auto;
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 650px) {
  .event-section .content-section .image-section-content {
    width: 90%;
    height: auto;
  }
}
.event-section .content-section .image-section-content .image-arrow-left {
  color: white;
  font-size: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.event-section .content-section .image-section-content .image-arrow-left:hover {
  transform: scale(1.1);
  color: rgb(194, 194, 194);
}
@media only screen and (max-width: 650px) {
  .event-section .content-section .image-section-content .image-arrow-left {
    font-size: 30px;
  }
}
.event-section .content-section .image-section-content .image-wrapper {
  width: 1100px;
  height: 500px;
  overflow: hidden; /* Hides images that exceed the div's boundaries */
  position: relative; /* To position child images */
}
@media only screen and (max-width: 610px) {
  .event-section .content-section .image-section-content .image-wrapper {
    height: 300px;
  }
}
.event-section .content-section .image-section-content .image-wrapper img {
  max-width: 100%; /* Ensures images scale proportionally */
  max-height: 100%; /* Ensures images scale proportionally */
  position: absolute; /* Allows precise positioning within the div */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the images */
  border-radius: 0.4rem;
}
.event-section .content-section .image-section-content .image-arrow-right {
  color: white;
  font-size: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.event-section .content-section .image-section-content .image-arrow-right:hover {
  transform: scale(1.1);
  color: rgb(194, 194, 194);
}
@media only screen and (max-width: 650px) {
  .event-section .content-section .image-section-content .image-arrow-right {
    font-size: 30px;
  }
}
.event-section .content-section .date-section {
  width: 75%;
  margin: auto;
  margin-top: 5rem;
  transition: 2s ease-in-out;
}
.event-section .content-section .date-section h2 {
  color: white;
}
.event-section .content-section .date-section .data-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
}
@media only screen and (max-width: 830px) {
  .event-section .content-section .date-section .data-wrapper {
    flex-direction: column;
  }
}
.event-section .content-section .date-section .data-wrapper .date-wrapper {
  width: 300px;
  height: 180px;
  overflow: hidden;
  position: relative;
  display: flex;
}
@media only screen and (max-width: 830px) {
  .event-section .content-section .date-section .data-wrapper .date-wrapper {
    margin: auto;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 460px) {
  .event-section .content-section .date-section .data-wrapper .date-wrapper {
    width: 95%;
  }
}
.event-section .content-section .date-section .data-wrapper .date-wrapper img {
  width: 100%;
  filter: blur(2px);
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  border-radius: 0.7rem;
}
.event-section .content-section .date-section .data-wrapper .date-wrapper .data {
  color: white;
  font-size: 40px;
  cursor: default;
  font-weight: 700;
  z-index: 2;
  align-self: center;
  margin: auto;
}
.event-section .content-section .date-section .data-wrapper .clock-wrapper {
  width: 300px;
  height: 180px;
  overflow: hidden;
  position: relative;
  display: flex;
}
@media only screen and (max-width: 830px) {
  .event-section .content-section .date-section .data-wrapper .clock-wrapper {
    margin: auto;
  }
}
@media only screen and (max-width: 460px) {
  .event-section .content-section .date-section .data-wrapper .clock-wrapper {
    width: 95%;
  }
}
.event-section .content-section .date-section .data-wrapper .clock-wrapper img {
  width: 100%;
  filter: blur(2px);
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  border-radius: 0.7rem;
}
.event-section .content-section .date-section .data-wrapper .clock-wrapper .data {
  color: white;
  font-size: 40px;
  cursor: default;
  font-weight: 700;
  z-index: 2;
  align-self: center;
  margin: auto;
}
.event-section .content-section .localization-section {
  width: 75%;
  margin: auto;
  color: white;
  margin-top: 4rem;
  transition: 2s ease-in-out;
}
.event-section .content-section .localization-section .not-online-wrapper {
  width: 90%;
  margin: auto;
}
.event-section .content-section .localization-section .not-online-wrapper .info {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.event-section .content-section .tags-section {
  width: 75%;
  margin: auto;
  color: white;
  margin-top: 4rem;
  padding-bottom: 4rem;
}
.event-section .content-section .tags-section .tags-wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}
.event-section .content-section .creator-panel {
  width: 50%;
  margin: auto;
  color: white;
  display: flex;
  flex-wrap: wrap;
  background: #242429;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  gap: 4rem;
}
@media only screen and (max-width: 580px) {
  .event-section .content-section .creator-panel {
    width: 75%;
  }
}/*# sourceMappingURL=eventPage.css.map */