.pack{
    margin: 2rem 12%;
    padding-bottom: 2rem;

    .topHeader{
        display: flex;
        justify-content: space-between;
        cursor: default;

        h1{
            color: white;
        }
        
        h4{
            text-decoration: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            .link{
                color: #950707;
            }
            
    
            &:hover{
                text-decoration: underline;
            }
        }
    }
    
    .cards{
        display: flex;
        justify-content: space-between;
        margin-top: 1.2rem;
        padding: 2rem;

        @media only screen and (max-width: 1500px){
            overflow-x: scroll;
            overscroll-behavior-inline: contain;
        }

    }

}