.dark {
  background: #1A1A1D;
  height: 100%;
}
.dark .festival-info .image-wrapper {
  position: relative;
  max-height: 700px;
  max-width: 100%;
}
.dark .festival-info .image-wrapper .details-button {
  position: absolute;
  bottom: 2rem;
  right: 17%;
  font-size: 15px;
  visibility: hidden;
  z-index: 2;
  height: 0;
  color: transparent;
}
@media only screen and (max-width: 800px) {
  .dark .festival-info .image-wrapper .details-button {
    visibility: visible;
    height: 35px;
    color: #1A1A1D;
  }
}
.dark .festival-info .image-wrapper .blured-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 500px;
}
.dark .festival-info .image-wrapper .blured-image img {
  height: 700px;
  width: 100%;
  filter: blur(5px);
}
.dark .festival-info .image-wrapper .details-wrapper {
  position: absolute; /* Set the image to absolute positioning */
  bottom: 0; /* Move the top edge of the image to the middle of the parent */
  left: 50%; /* Move the left edge of the image to the middle of the parent */
  transform: translate(-50%, 0%); /* Center the image both horizontally and vertically */
  z-index: 1;
  background: linear-gradient(transparent, #1A1A1D, #1A1A1D, #1A1A1D, #1A1A1D, #1A1A1D, #1A1A1D, #1A1A1D, transparent);
  height: 30rem;
  width: 60%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 1rem;
}
@media only screen and (max-width: 1100px) {
  .dark .festival-info .image-wrapper .details-wrapper {
    padding: 2.7rem;
    width: 80%;
  }
}
.dark .festival-info .image-wrapper .details-wrapper .festival-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(20px, 8vw, 45px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 800px) {
  .dark .festival-info .image-wrapper .details-wrapper .festival-name {
    margin: 0 1rem;
  }
}
.dark .festival-info .image-wrapper .details-wrapper .festival-organization {
  display: flex;
  justify-content: flex-end;
}
.dark .festival-info .image-wrapper .details-wrapper .date-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dark .festival-info .image-wrapper .details-wrapper .date-wrapper .festival-start-date {
  font-size: 20px;
  max-height: 2.8em; /* Adjust the height to your desired maximum lines */
  overflow: hidden;
  text-overflow: ellipsis; /* Optional: Adds an ellipsis if the text overflows */
  white-space: normal; /* Ensures that the text wraps within the defined height */
  line-height: 1.4em;
}
.dark .festival-info .image-wrapper .details-wrapper .date-wrapper .festival-end-date {
  font-size: 20px;
  max-height: 2.8em; /* Adjust the height to your desired maximum lines */
  overflow: hidden;
  text-overflow: ellipsis; /* Optional: Adds an ellipsis if the text overflows */
  white-space: normal; /* Ensures that the text wraps within the defined height */
  line-height: 1.4em;
}
@media only screen and (max-width: 800px) {
  .dark .festival-info .image-wrapper .details-wrapper .date-wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .dark .festival-info .image-wrapper .details-wrapper .date-wrapper .festival-start-date {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dark .festival-info .image-wrapper .details-wrapper .date-wrapper .festival-end-date {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.dark .festival-info .image-wrapper .details-wrapper .festival-event-amount {
  bottom: 3rem;
}
.dark .festival-info .image-wrapper .details-wrapper .describtion-wrapper {
  background: linear-gradient(transparent, #950740, #950740, #950740, #950740, #950740, #950740, #950740, #950740, #950740, #950740, #950740, #950740, transparent);
  border-radius: 0.3rem;
  color: rgb(238, 238, 238);
  padding: 0.3rem;
  height: 55%;
  width: 100%;
  margin-top: 0.2rem;
  margin-bottom: 0.1rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #333 #eee; /* Scrollbar track and thumb colors *
/* Customize the scrollbar thumb */
}
.dark .festival-info .image-wrapper .details-wrapper .describtion-wrapper::-webkit-scrollbar {
  width: 8px;
}
.dark .festival-info .image-wrapper .details-wrapper .describtion-wrapper::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 5px;
}
.dark .festival-info .image-wrapper .details-wrapper .describtion-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.dark .festival-info .image-wrapper .correct-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
  width: 90%;
  transition: 0.3s ease-in-out;
}
.dark .festival-info .image-wrapper .correct-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  min-height: 500px;
  width: 100%;
}
.dark .festival-info .image-wrapper .correct-image .title-wrapper {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 1rem;
  color: white;
}
.dark .festival-info .image-wrapper .correct-image .title-wrapper .title {
  display: flex;
  flex-direction: column;
}
.dark .festival-info .image-wrapper .correct-image .title-wrapper .title .organization-name {
  font-size: 2rem;
}
.dark .festival-info .image-wrapper .correct-image .black-title-wrapper {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 1rem;
  color: white;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 1.3rem;
  padding: 0 1rem;
}
.dark .festival-info .image-wrapper .correct-image .black-title-wrapper .title {
  display: flex;
  flex-direction: column;
}
.dark .festival-info .image-wrapper .correct-image .black-title-wrapper .title .organization-name {
  font-size: 2rem;
}
.dark .festival-info .image-wrapper .getDetails {
  visibility: hidden;
}
.dark .festival-info .image-wrapper:hover .details-button {
  visibility: visible;
  height: 35px;
  color: #1A1A1D;
}
.dark .image-wrapper:hover .correct-image {
  transform: translate(-50%, -2%) scale(1.05);
}
.dark .event-wrapper {
  padding: 3rem 0;
}

@media only screen and (max-width: 1500px) {
  .dark .festival-info .image-wrapper .correct-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 2;
    width: 90%;
    transition: 0.3s ease-in-out;
  }
  .dark .festival-info .image-wrapper .correct-image img {
    width: 100%;
  }
}/*# sourceMappingURL=festival.css.map */