.dark{

    background: #1A1A1D;
    height: 100%;
    .festival-info{

        .image-wrapper{
            position: relative;
            max-height: 700px;
            max-width: 100%;


            .details-button{
                position: absolute;
                bottom: 2rem;
                right: 17%;
                font-size: 15px;
                visibility: hidden;
                z-index: 2;
                height: 0;
                color: transparent;
            }

            @media only screen and (max-width: 800px){
                .details-button{
                    visibility: visible;
                    height: 35px;
                    color: #1A1A1D;
                }
            }

        

            .blured-image{
                object-fit: cover;
                width: 100%;
                min-height: 500px;

                img{
                    height: 700px;
                    width: 100%;
                    filter: blur(5px);
                }

            }
            .details-wrapper{
                position: absolute; /* Set the image to absolute positioning */
                bottom: 0; /* Move the top edge of the image to the middle of the parent */
                left: 50%; /* Move the left edge of the image to the middle of the parent */
                transform: translate(-50%, 0%); /* Center the image both horizontally and vertically */
                z-index: 1;
                background: linear-gradient(transparent, #1A1A1D, #1A1A1D, #1A1A1D, #1A1A1D, #1A1A1D, #1A1A1D, #1A1A1D, transparent) ;
                height: 30rem;
                width: 60%;
                padding: 5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                border-radius: 1rem;

                @media only screen and (max-width: 1100px){
                    padding: 2.7rem;
                    width: 80%;
                }


                .festival-name{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: clamp(20px, 8vw, 45px);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    @media only screen and (max-width: 800px){
                        margin: 0 1rem;
                    }
                    
                }

                .festival-organization{
                    display: flex;
                    justify-content: flex-end;
                }

                .date-wrapper{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    .festival-start-date{
                        font-size: 20px;
                        max-height: 2.8em; /* Adjust the height to your desired maximum lines */
                        overflow: hidden;
                        text-overflow: ellipsis; /* Optional: Adds an ellipsis if the text overflows */
                        white-space: normal; /* Ensures that the text wraps within the defined height */
                        line-height: 1.4em;
                    }
    
                    .festival-end-date{
                        font-size: 20px;
                        max-height: 2.8em; /* Adjust the height to your desired maximum lines */
                        overflow: hidden;
                        text-overflow: ellipsis; /* Optional: Adds an ellipsis if the text overflows */
                        white-space: normal; /* Ensures that the text wraps within the defined height */
                        line-height: 1.4em;
                    }

                    @media only screen and (max-width: 800px){
                        flex-direction: column;
                        justify-content: center;


                        .festival-start-date{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
        
                        .festival-end-date{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }


                .festival-event-amount{
                    bottom: 3rem;
                }

                .describtion-wrapper{
                    background: linear-gradient(transparent,#950740, #950740, #950740, #950740, #950740, #950740, #950740,#950740 ,#950740, #950740, #950740, #950740, transparent) ;
                    border-radius: .3rem;
                    color: rgb(238, 238, 238);
                    padding: .3rem;
                    height: 55%;
                    width: 100%;
                    margin-top: .2rem;
                    margin-bottom: .1rem;
                    overflow-y: scroll;
                    scrollbar-width: thin;
                    scrollbar-color: #333 #eee; /* Scrollbar track and thumb colors *
                      /* Customize the scrollbar thumb */
                    &::-webkit-scrollbar {
                        width: 8px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: #333;
                        border-radius: 5px;
                      }
                      &::-webkit-scrollbar-thumb:hover {
                        background-color: #555;
                      }

                }

            }

            .correct-image{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0%);
                object-fit: cover;
                z-index: 2;
                width: 90%;
                transition: .3s ease-in-out;


                img{
                    object-fit: cover;
                    height: auto;
                    min-height: 500px;
                    width: 100%;

                }
                .title-wrapper{
                    position: absolute;
                    bottom: 5%;
                    left: 5%;
                    font-size: 3rem;
                    font-weight: 600;
                    margin-top: 1rem;
                    color: white;
            
                    .title{
                        display: flex;
                        flex-direction: column;

                        .organization-name{
                            font-size: 2rem;
                        }
                    }
                }

                .black-title-wrapper{
                    position: absolute;
                    bottom: 5%;
                    left: 5%;
                    font-size: 3rem;
                    font-weight: 600;
                    margin-top: 1rem;
                    color: white;
                    backdrop-filter: blur(3px);
                    border-radius: 1.3rem;
                    padding: 0 1rem;
            
                    .title{
                        display: flex;
                        flex-direction: column;

                        .organization-name{
                            font-size: 2rem;
                        }
                    }
                }
            }
            .getDetails{
                visibility: hidden;

            }

            
        }

        .image-wrapper:hover .details-button{
            visibility: visible;
            height: 35px;
            color: #1A1A1D;
        }

    }

    .image-wrapper:hover .correct-image{
        transform: translate(-50%, -2%) scale(1.05);
    }

    .event-wrapper{
        padding: 3rem 0;
    }

}

@media only screen and (max-width: 1500px){

.dark{

    .festival-info{
        .image-wrapper{

    
            .correct-image{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0%);
                object-fit: cover;
                z-index: 2;
                width: 90%;
                transition: .3s ease-in-out;

                img{
                    width: 100%;
                }
            }
        }

    }
}
}
