.postcard {
    display: flex;
    border: 5px solid grey;
    color: white;
    height: 25rem;
    position: relative;
    width: 80rem;
    margin: auto;
    margin-top: 2rem;
    border-radius: 1rem;

    .postcard-img{
        transition: .2s ease-in-out;
        width: 390px;
        height: 390px;
        border: transparent;
        border-radius: 1rem;

        img{
            width: 390px;
            height: 390px;
            border: transparent;
            border-radius: .5rem;
        }
    }
    .postcard-text{
        background: linear-gradient(90deg, #950740, #1A1A1D, #1A1A1D);
        width: 90%;
        padding-right: 2rem;
        z-index: 2;
        color: rgb(216, 216, 216);
        padding-left: 2rem;
        border: transparent;
        border-radius: .5rem;


        .postcard-title{
            display: flex;
            justify-content: center;
            margin-top: 1rem;

        }

        .postcard-subtitle{
            display: flex;
            gap: 1rem;
            margin-left: 1rem;
            margin-bottom: 2rem;
            position: relative;

            .postcard-date{
                display: flex;
                gap: .3rem;
                align-items: center;

            }
        }

        .postcard-subtitle::before{
            content: "";
            position: absolute;
            background: #1A1A1D;
            height: .4rem;
            width: 5rem;
            bottom: (-30%);
            border-radius: 4rem;
        }

    }

    .postcard-text::before{
        content: "";
        position: absolute;
        display: block;
        background: #1A1A1D;
        right: 25%;
        height: 100%;
        width: 130px;
        transform: skewX(-10deg);
    }

}
.postcard:hover .postcard-subtitle::before{
    transition: .3s ease-in-out;
    width: 15rem;
}