
.navDiv{
    width: 100%;
    background: #1A1A1D;
    height: 3rem;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(4, 29, 2, 0.204);
    align-items: center;
    justify-content: space-between;

    .header{
        font-size: 24px;
        display: flex;
        margin-left: 1rem;
        align-items: center;
        color: rgb(216, 216, 216);

        .homeTitle{
            text-decoration: none;
            margin: .5rem;
            color: rgb(216, 216, 216);
        }
    }

    .bigScreen{
        justify-content: space-between;
        display: flex;

        .links{
            margin: auto;

           .link{
            margin: 0 1rem;
            cursor: pointer;
            text-decoration: none;
            color: rgb(216, 216, 216);
            margin:0 8px;
            transition: 0.5s;
            border-radius: 30px;
            padding: 5px 5px;

            &:hover {         
                background-color: grey;
                color: black;
              }
           }
        }
    }

    .hamburger{
        display: none;
    }

    .navbar{
        display: none;
    }
    @media only screen and (max-width: 730px){

        justify-content: space-between;
        align-items: center;

        .bigScreen{
            display: none;
        }

        .hamburger{
            display: flex;
            flex-direction: column;
            cursor: pointer;
            margin-right: 1rem;

            span{
                background: rgb(216, 216, 216);
                height: .4rem;
                width: 2.7rem;
                margin: 1px;
                border-radius: 1rem;
            }
        }

        .navbar{
            display: flex;
            align-items: center;
            position: absolute;
            top: -100rem;
            left: 50%;
            padding: 1rem;
            transform: translate(-50%);
            z-index: 2000;
            box-shadow: 0 2px 4px rgb(2, 15, 29, 0.904);
            transition: .4s ease-in-out;
            background: #1A1A1D;
            border-radius: 1rem;
            .links{
                padding: 0;
                .link{
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    color: rgb(216, 216, 216);
                    text-align: center;
                    justify-content: center;

                    margin: .7rem;
                    cursor: pointer;
                    text-decoration: none;
                    color: rgb(216, 216, 216);
                    transition: 0.5s;
                    border-radius: 30px;
                    padding: 5px 5px;

                    &:hover {         
                        background-color: grey;
                        color: black;
                      }
                }
            }
        }
        .active{
            top: 4rem;
        }
    }
}