.form-template-event {
  min-width: 275px;
  background: #1A1A1D;
  margin: 0 10%;
  padding: 2rem;
  color: white;
}
@media only screen and (max-width: 390px) {
  .form-template-event {
    padding: 1rem;
  }
}
.form-template-event .buttons {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 500px) {
  .form-template-event .buttons {
    gap: 0.7rem;
  }
}
.form-template-event .button-section {
  width: 75%;
  margin: auto;
  margin-top: 2rem;
  position: relative;
  padding-bottom: 2rem;
}
.form-template-event .button-section .button-next {
  position: absolute;
  right: 0;
}
.form-template-event .date-inputs {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.form-template-event .date-inputs label {
  font-weight: 600;
  font-size: 18px;
}
.form-template-event .date-inputs .date-picker {
  display: flex;
  flex-direction: column;
  width: -moz-max-content;
  width: max-content;
}
@media only screen and (max-width: 900px) {
  .form-template-event .date-inputs .date-picker {
    margin: 1rem auto;
  }
}
@media only screen and (max-width: 900px) {
  .form-template-event .date-inputs {
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  .form-template-event .date-inputs {
    width: 100%;
  }
}
.form-template-event .not-online {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  width: 75%;
}
@media only screen and (max-width: 500px) {
  .form-template-event .not-online {
    width: 100%;
  }
}
.form-template-event .not-online .input-template {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.form-template-event .not-online .input-template label {
  font-weight: 600;
  font-size: 18px;
}
.form-template-event .not-online .input-template input {
  width: 100%;
  border-radius: 0.5rem;
  border: solid 2px rgb(182, 182, 182);
  padding: 4px;
}
@media only screen and (max-width: 900px) {
  .form-template-event .not-online .input-template {
    width: 75%;
    margin: 1rem auto;
  }
}
@media only screen and (max-width: 500px) {
  .form-template-event .not-online .input-template {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .form-template-event .not-online {
    flex-direction: column;
  }
}
.form-template-event .online {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
.form-template-event .online .input-template {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media only screen and (max-width: 900px) {
  .form-template-event .online .input-template {
    min-width: 300px;
  }
}
@media only screen and (max-width: 500px) {
  .form-template-event .online .input-template {
    min-width: 220px;
  }
}
.form-template-event .online .input-template label {
  font-weight: 600;
  font-size: 18px;
}
.form-template-event .online .input-template input {
  width: 100%;
  border-radius: 0.5rem;
  border: solid 2px rgb(182, 182, 182);
  padding: 4px;
}
.form-template-event .data-section {
  margin-bottom: 2rem;
}
.form-template-event .data-section .input-template {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 75%;
}
@media only screen and (max-width: 500px) {
  .form-template-event .data-section .input-template {
    width: 100%;
  }
}
.form-template-event .data-section .input-template label {
  font-weight: 600;
  font-size: 18px;
}
.form-template-event .data-section .input-template input {
  border-radius: 0.5rem;
  border: solid 2px rgb(182, 182, 182);
  padding: 4px;
}
.form-template-event .description-section {
  margin-top: 2rem;
}
.form-template-event .description-section .textarea-section {
  display: flex;
  margin: auto;
  border-radius: 0.3rem;
  flex-direction: column;
  width: 75%;
}
.form-template-event .description-section .textarea-section label {
  font-weight: 600;
  font-size: 18px;
}
.form-template-event .description-section .textarea-section textarea {
  height: 150px;
}
@media only screen and (max-width: 400px) {
  .form-template-event .description-section .textarea-section {
    width: 100%;
  }
}
.form-template-event .description-section .image-section {
  display: flex;
  margin: auto;
  width: 75%;
  margin-top: 2rem;
  flex-direction: column;
}
.form-template-event .description-section .image-section .image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}
.form-template-event .description-section .image-section .image-list .img-wrapper {
  max-width: 30%;
  min-width: 250px;
  display: flex;
  border-radius: 0.5rem;
  position: relative;
}
@media only screen and (max-width: 450px) {
  .form-template-event .description-section .image-section .image-list .img-wrapper {
    max-width: 100%;
    min-width: 100px;
  }
}
.form-template-event .description-section .image-section .image-list .img-wrapper .img-element {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0.5rem;
  background: linear-gradient(#1A1A1D, #1A1A1D, grey, #1A1A1D, #1A1A1D);
  transition: 0.3s ease-in-out;
}
.form-template-event .description-section .image-section .image-list .img-wrapper .img-element:hover {
  transform: scale(1.05);
}
.form-template-event .description-section .image-section .image-list .img-wrapper .cross-element {
  position: absolute;
  cursor: pointer;
  left: 90%;
  top: 1rem;
  background: #1A1A1D;
  color: white;
  border-radius: 0.2rem;
  transition: 0.3s ease-in-out;
}
.form-template-event .description-section .image-section .image-list .img-wrapper .cross-element:hover {
  transform: scale(1.5);
  color: red;
}
.form-template-event .description-section .image-section .image-list .img-wrapper .img-element:hover + .cross-element {
  left: 94%;
}
.form-template-event .description-section label {
  font-weight: 600;
  font-size: 18px;
}/*# sourceMappingURL=formOrganizeEvent.css.map */