.form-template-event{
    min-width: 275px;
    background: #1A1A1D;
    margin: 0 10%;
    padding: 2rem;
    color: white;

    @media only screen and (max-width: 390px){
        padding: 1rem;
    }

    .buttons{
        display: flex;
        justify-content: space-around;  

        @media only screen and (max-width: 500px){
            gap: .7rem;
        }
    }

    .button-section{
        width: 75%;
        margin: auto;
        margin-top: 2rem;
        position: relative;
        padding-bottom: 2rem;

        .button-next{
            position: absolute;
            right: 0;
        }


    }

    .date-inputs{

        width: 75%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        label{
            font-weight: 600;
            font-size: 18px;
        }
        .date-picker{
            display: flex;
            flex-direction: column;
            width: max-content;
            @media only screen and (max-width: 900px){
                margin: 1rem auto;
            }
    
        }

        @media only screen and (max-width: 900px){
            flex-direction: column;
        }

        @media only screen and (max-width: 500px){
            width: 100%;
        }


    }

    .not-online{
        display: flex;
        justify-content: space-between;
        margin: 2rem auto;
        width: 75%;
        @media only screen and (max-width: 500px){
            width: 100%;
        }

        .input-template{
            display: flex;
            flex-direction: column;
            width: 45%;


            label{
                font-weight: 600;
                font-size: 18px;
            }

            input{
                width: 100%;
                border-radius: .5rem;
                border: solid 2px rgb(182, 182, 182);
                padding: 4px;
            }

            @media only screen and (max-width: 900px){
                width: 75%;
                margin: 1rem auto;
            }

            @media only screen and (max-width: 500px){
                width: 100%;
            }

        }

        @media only screen and (max-width: 900px){
            flex-direction: column;
        }
    }

    .online{
        margin: 2rem 0;
        display: flex;
        justify-content: center;

        .input-template{
            display: flex;
            flex-direction: column;
            width: 50%;

            @media only screen and (max-width: 900px){
                min-width: 300px;
            }

            @media only screen and (max-width: 500px){
                min-width: 220px;
            }

            label{
                font-weight: 600;
                font-size: 18px;
            }

            input{
                width: 100%;
                border-radius: .5rem;
                border: solid 2px rgb(182, 182, 182);
                padding: 4px;
            }
        }
    }
    
    .data-section{
        margin-bottom: 2rem;
        .input-template{
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 75%;

            @media only screen and (max-width: 500px){
                width: 100%;
            }

            label{
                font-weight: 600;
                font-size: 18px;
            }
            input{
                border-radius: .5rem;
                border: solid 2px rgb(182, 182, 182);
                padding: 4px;
            }
        }

    }
    .description-section{

        margin-top: 2rem;

        .textarea-section{
            display: flex;
            margin: auto;
            border-radius: .3rem;
            flex-direction: column;
            width: 75%;

            label{
                font-weight: 600;
                font-size: 18px;
            }

            textarea{
                height: 150px;
            }

            @media only screen and (max-width: 400px){
                width: 100%;
            }

        }
        .add-fields{
            display: flex;
            width: 75%;
            align-items: center;
            gap: 1rem;
            margin: .5rem auto;
            justify-content: center;

            .droplist-fields{
                width: 15rem;
            }

        }
        .chosen-fields{
            background: #6e6e6e;
            border-radius: .5rem;
            display: flex;
            width: 75%;
            margin: auto;
            padding: .2rem;
            gap: .5rem;
        }
        .reset-button{
            display: flex;
            width: 75%;
            margin: auto;
            padding: .5rem;
            display: flex;
            justify-content: center;
            background: #950740;
            cursor: pointer;
            border: thin grey;
            border-radius: .7rem;
            transition: .3s ease-in-out;
            min-width: 150px;
            width: fit-content;
        
            &:hover{
                background: #d4085a;
            }
        }

        .image-section{
            display: flex;
            margin: auto;
            width: 75%;
            margin-top: 2rem;
            flex-direction: column;

            .image-list{

                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                justify-content: center;
                margin-top: 1rem;

                .img-wrapper{
                    max-width: 30%;
                    min-width: 250px;
                    display: flex;
                    border-radius: .5rem;
                    position: relative;

                    @media only screen and (max-width: 450px){
                        max-width: 100%;
                        min-width: 100px;
                    }
                    

                    .img-element{
                        width: 100%;
                        object-fit: contain;
                        border-radius: .5rem;
                        background: linear-gradient(#1A1A1D,#1A1A1D, grey,#1A1A1D, #1A1A1D);
                        transition: .3s ease-in-out;
                        &:hover{
                            transform: scale(1.05);
                        }
                    }
                    .cross-element{
                        position: absolute;
                        cursor: pointer;
                        left: 90%;
                        top: 1rem;
                        background: #1A1A1D;
                        color: white;
                        border-radius: .2rem;
                        transition: .3s ease-in-out;

                        &:hover{
                            transform: scale(1.5);
                            color: red;
                        }
                    }

                    .img-element:hover + .cross-element{
                        left: 94%;
                    }
                }
            }

        }
        label{
            font-weight: 600;
            font-size: 18px;
        }
    }
}