
.card{
    width: 18rem;
    min-width: 18rem;
    transition: .5s ease-in-out;
    margin: 0 1rem;

    .card-body{

        .card-text{
            height: 4rem;
        }

        .visit-button{
            margin: auto;
        }
    }
}