.user-page{
    background: #1A1A1D;
    min-height: 100vh;
    padding-top: 10%;
    border-top: solid #d4085a;

    .profile-section{
        display: flex;
        width: 60%;
        margin: auto;
        background: #950740;
        flex-direction: column;
        border-radius: .5rem;
        box-shadow: 5px 5px 3px #d4085a, 0px 3px 6px 6px #d4085a;

        .icon-wrapper{
            height: 10rem;
            width: 10rem;
            display: flex;
            margin: auto;
            width: 100%;

            .icon-self{
                width: 100%;
                height: 100%;
            }
        }

        .user-info{
            display: flex;
            margin: auto;
            width: 100%;
            justify-content: center;

            .personal{
                display: flex;
                flex-direction: column;
                margin: auto;
                gap: 1rem;
                height: fit-content;

                .span-self{
                    font-size: 30px;
                    font-weight: 600;
                    display: flex;
                    margin: auto;
                    
                }
                .span-self-email{
                    display: flex;
                    margin-left: 25%;
                    font-size: 17px;
                    border: solid #1A1A1D;
                    padding: .3rem;
                    border-radius: .5rem;
                    background: #d4085a;
                }
                .copy-icon{
                    width: 1.5rem;
                    height: 1.5rem;
                    cursor: pointer;
                    margin: auto .3rem;
                    transition: .3s ease-in-out;
                    &:hover{
                        color: grey;
                        transform: scale(1.1);
                    }
                }

                .experience{
                    display: flex;
                    flex-direction: row;
                    gap: .5rem;
                }
            }

        }
    }
}