.profile-nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background: #950740;
    align-items: center;
    @media only screen and (max-width: 1240px){
            flex-direction: column;
            height: 12rem;
            padding: 1rem 0;
    }

    .profile-section{
        margin: 0 3rem;
        min-width: fit-content;


        .profile-link{
            text-decoration: none;
            min-width: fit-content;
            color: white;
            padding: 1rem 2rem;
            transition: .3s ease-in-out;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            &:hover{
                background: #b81556;
            }
            
        }
    }
}