.section{

    display: flex;
    margin: auto;
    max-width: 600px;
    color: white;
    margin-top: 10%;
    min-width: 280px;

    @media only screen and (max-width: 700px){
        max-width: 85%;
    }
    @media only screen and (max-width: 320px){
        margin: none;
        margin-top: 10%;
    }
    .login-wrapper{

        background: transparent;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #1a1a1a;
        padding: 2rem;
        border-radius: .5rem;
        
        h2{
            display: flex;
            margin: auto;
        }


        .form-section{

            margin-top: 1rem;
            .input-wrapper-login{
                display: flex;
                flex-direction: column;
                width: 70%;
                margin: auto;

                @media only screen and (max-width: 500px){
                    width: 100%;
                }

                label{
                    font-weight: 600;
                    font-size: 18px;
                    
                }
                .upper-label{
                    margin-top: .8rem;
                    label{
                        font-weight: 600;
                        font-size: 18px;
                        
                    }
                    .link{
                        text-decoration: none;
                        color: green;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
    
    
    
                input{
                    border-radius: .5rem;
                    border: solid 2px rgb(182, 182, 182);
                    padding: 4px;
                }
    
            }
    
            .link-wrapper{
                display: flex;
                margin: auto;
                justify-content: center;
                width: 75%;
                margin-top: 1rem;
                .link{
                    margin-left: .3rem;
                    text-decoration: underline;
                    cursor: pointer;
                    transition: .3s ease-in-out;

                    &:hover{
                        color: red;
                    }
                }
            }
        }
    }



}